* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
#header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-bottom: 100px;
    clear: both;

}
#logo {
    font-weight: bold;
    margin-right: 50px;
}
.red {
    width: 95%;
    height: 5px;
    margin-bottom: 0;
    background-color: red;
}
.icon {
    float: right;
}
ul {
    background-color: #dedede;
    padding: 30px;
    margin-top:0;
    margin-right: 20px;
}
ul li {
    display: inline;
    padding: 5px;
}
a:visited {
    color: red;
}
a:link {
    color: black;
}
.spacer {
    width: 100%;
    height: 90px;
}
h1, h2 {
    text-align:center;
}
h1 {
    font-size: 60px;
}
h2 {
    font-weight: normal;
    font-size: 12px:
}
}
main {
    display: flex;
    justify-content: center;

}
#flexmain {
    margin: 0 auto;
    max-width: 920px;
    display: flex;
}
#flexmaincol2 {
    display: flex;
    flex: 2;
}
.divide {
    flex-direction: row;
    display: flex;
    max-width: 100%;
    justify-content: center;
}
.col1 {
    flex:2;
    }
.col2 {
    flex:1;
}
.col22 {
    flex:1.5;
}
.col1a {
    flex:1;
}
.col1b {
    flex:2;
}
.m1{
    margin-right: 40px;
}
#footer {
    margin-top:50px;
    width:100%;
    text-align: left;
    flex-wrap:nowrap;
    display: flex;
    justify-content: center;
}
.gridf {
    max-width: 960px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.colf1nav {
    float: left;
    flex: 1;
}
.colf {
    flex:3;
}
.columncount {
    column-count:3;
}
#c1 {
    font-weight: bold;
    font-size: 14;
}
#nav1 {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
}
#nav3 {
    margin-top: 10px;
}
